@import "./reset.css";

/* ---DEFAULTS--- */

:root {
    --max-content-width: 70rem;
    --viewport-padding: 1.5rem;
}

h1,
h2 {
    font-family: "Rubik Glitch";
    font-size: 2rem;
}

img {
    width: 100%;
    object-fit: cover;
}

body {
    font-family: "Space Mono";
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.952);
    overflow-x: hidden;
}

/* ---LAYOUT--- */

.wrapper {
    display: grid;
    grid-template-columns:
        1fr calc(
            min(var(--max-content-width), 100%) - var(--viewport-padding) * 2
        )
        1fr;
    row-gap: 6rem;

    & > * {
        grid-column: 2;
    }
}

/* ---HERO--- */

.hero {
    margin-top: calc(var(--viewport-padding) * 2);
}

.hero-img__container {
    max-width: 20rem;
    margin-inline: auto;
    width: calc(100% - var(--viewport-padding));
}

.hero-img__img {
    border-radius: 4px;
    border: 2px solid white;
}

.hero-content {
    padding: 2rem 0 0;

    & > * + * {
        margin-top: 0.5rem;
    }
}

.hero-header {
    text-align: center;
}

.hero-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.hero-links .devicon-github-original {
    font-size: 3rem;
}

/* ---PROJECTS--- */

.projects-header {
    text-align: center;
}

.projects-contaier {
    margin-top: 1rem;
    display: grid;
    gap: 4rem 0;
}

.project {
    --border: 1px solid white;
    --links-size: 1.5rem;

    border: var(--border);
    border-radius: 4px;
    overflow: hidden;
}

.project-image {
    border-bottom: var(--border);
}

.project-details {
    padding: 1.25rem;
}

.project-name-and-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.project-name {
    font-weight: bold;
    font-size: 1.25rem;
}

.project-links {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: var(--links-size);
}

.open-in-new {
    width: var(--links-size);
    height: var(--links-size);
    fill: white;
}

.project-links > * {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset: -15%;
    }
}

.project-description {
    margin-top: 1rem;
    font-size: 0.85rem;
}

/* ---FOOTER--- */

footer {
    position: relative;
    margin-top: 6rem;
    padding-block: var(--viewport-padding);

    &::before {
        z-index: -1;
        content: "";
        position: absolute;
        inset: 0;
        background: url("../assets/anti-spiral-footer.webp");
        background-size: cover;
        background-position: center;
        filter: blur(5px) brightness(60%);
    }
}

.footer-header {
    text-align: center;
}

.footer-description {
    margin-top: 0.7rem;
}

.footer-address {
    margin-top: 1.1rem;
}

.footer-address,
.footer-address + *,
.footer-contact-info {
    font-size: 0.85rem;
}

.footer-contact-info {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    & > *:first-child {
        display: none;
        width: 1.75rem;
        fill: white;
    }
}

.footer-contact-info:first-of-type {
    margin-top: 1.1rem;
}

.footer-socials {
    margin-top: 1rem;
}

.footer-socials .devicon-github-original {
    font-size: 2.5rem;
}

.footer-img {
    display: none;
}

/* ---BREAKPOINTS--- */

@media (width>= 40rem) {
    :root {
        --viewport-padding: 3rem;
    }

    .hero {
        --padding-inline: 1.5rem;
        border: 1px solid white;
    }

    .hero-img__container {
        width: unset;
        margin-inline: unset;
    }

    .hero-content {
        padding: 4rem var(--padding-inline);
    }

    .projects-header,
    .footer-header {
        text-align: unset;
    }

    .projects-contaier {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem 2rem;
    }

    footer::before {
        all: unset;
    }

    .footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    .footer-content {
        align-self: center;
    }

    .footer-address {
        margin-top: 1.5rem;
    }

    .footer-contact-info:first-of-type {
        margin-top: 1.5rem;
    }

    .footer-contact-info + .footer-contact-info {
        margin-top: 0.75rem;
    }

    .footer-contact-info > *:first-child {
        display: unset;
    }

    .footer-socials {
        margin-top: 1.5rem;
    }

    .footer-img {
        display: unset;
        align-self: stretch;
        border: 2px solid white;
        border-radius: 4px;
        aspect-ratio: 1/1.25;
    }
}

@media (40rem <= width <= 70rem) {
    .hero-img__container {
        float: left;
        margin-left: -1.5rem;
        margin-right: var(--padding-inline);
        margin-top: -3rem;
        margin-bottom: var(--padding-inline);
    }
    .hero-img__img {
        aspect-ratio: 1/1.2;
    }

    .hero-links {
        display: none;
    }
}

@media (width > 70rem) {
    .hero {
        --border: 2px solid white;
        margin-top: 5rem;
        border: unset;
        display: flex;
    }

    .hero-content {
        padding: 2rem 1.5rem;
        align-self: center;

        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;

        border-top: var(--border);
        border-right: var(--border);
        border-bottom: var(--border);

        & > * + * {
            margin-top: 1.25rem;
        }
    }

    .hero-header {
        text-align: unset;
    }

    .hero-links {
        margin-top: 2.75rem;
        justify-content: end;
    }

    .projects-contaier {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-img {
        aspect-ratio: unset;
    }

    .footer {
        grid-template-columns: 1fr 35rem;
    }
}
